#subject-container .subject-details{
    afont-family: 'EB Garamond', serif;
    afont-size: 20px;
    color: var(--text-color);
   }
  #subject-container h1 {
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  scolor: var(--text-color);
  color: var(--primary-color);
 }
 #subject-container h1.indice{
  font-size: 80px;
   text-shadow:
  0px 0px 0 black,
  -2px -2px 0 black,  
  2px -2px 0 black,
  -2px 2px 0 black,
   2px 2px 0 black;
  }
  
  #subject-container h2 {
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  color: var(--text-color);
  margin-bottom: 24px;
  margin-top: 24px;
  }
  #hero{
    height: auto;
    padding-top: 24px;
  }
  #menuContainer{
    z-index: 100;
    position: absolute;
  }
  
  #write-wrapper{
    margin-top: 80px;
    background-color: var(--bg-primary);
    color: var(--text-color);
  }
  #content p{
    margin: revert;
  }
  body{
    padding: 0;
    padding-top:80px;
    background-color: var(--bg-primary);
  }
  #write-wrapper{
    box-shadow: var(--shadow);
  }
  #menu a{
    color: var(--text-color);
  }
  a.nav-link{
   color: #000000;
  }
  .toggle-icons{
    margin: 0;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar .container{
    height: auto;
  }
  #menu{
    font-size: 20px;
    color: var(--text-color);
    border-left: 5px solid var(--text-color);
    padding-left: 30px;
  }
  .navbar .nav-menu{
    background-color: transparent;
  }
  .navbar .nav-menu.active{
    background-color: var(--bg-primary);
  }
  #write > ul{
    list-style: initial;
    padding-left: 28px;
    margin-bottom: 40px;
  }
  #subject-container .subject-details table{
    color:unset;
  }
  [data-theme="dark"] table tr{
    color: white;
  }
  [data-theme="dark"] table tr {
  background-color: var(--bg-primary2);
  color: var(--text-color-two);
  }
  [data-theme="dark"] table tr:nth-child(2n),  [data-theme="dark"] thead {
  background-color: black;
  color: var(--text-color);
  }
  [data-theme="dark"] table tr {
  background-color: var(--bg-primary2);
  color: var(--text-color);
  }
  [data-theme="dark"] .icon-blockquote{
    background: white;
    padding: 8px;
    border-radius: 4px;
}
.top-hidden a.toogle, .top-hidden.indice a.toogle{
    box-sizing: unset;
  }
  h1, h2, h3, h4, h5, h6{
    border-bottom: 1px solid var(--bg-secondary);
  }
  h1.indice, h3.indice{
    border: none;
  }
  .theme-switch{
     margin-right: 70px;
  }
  #back-to-top-link {
    background-color: var(--bg-secondary);
    color: var(--text-color-two);
  }
  
[data-theme="dark"] .icon-blockquote{
	left:-62px;
}
   
[data-theme="dark"] code.highlighter-rouge {
	background-color: var(--bg-secondary);
	color: var(--bg-primary);
}
#menuContainer code.highlighter-rouge{
  color: var(--text-color);
}

[data-theme="dark"] #menuContainer code.highlighter-rouge{
  color: var(--text-color-two);
}

a {
  text-decoration: none;
}

#content blockquote{
	margin-top:8px;
	margin-bottom:8px;
}
