<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Symfony blog - paso a paso</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
        <script>
	  document.documentElement.setAttribute("data-theme", localStorage.getItem("theme") ?  localStorage.getItem("theme") : "");
    </script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/utilities.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

    <style>
    
    </style>
  </head>
  <body>
    <header id="hero">
      <!-- Navbar -->
      <nav class="navbar">
        <div class="container">
          <!-- Logo -->
          <h1 id="logo">
          </h1>
          <!-- Navbar links -->
          <ul class="nav-menu">
            <li><a class="nav-link  btn btn-primary" href="/">HOME</a></li>
            <li>
              <a
                class="nav-link btn btn-primary"
                href="https://github.com/{{ site.github_repo}}"
                >GitHub <i class="fas fa-arrow-right"></i
              ></a>
            </li>
            <!-- Toggle switch -->
            <div class="theme-switch">
              <input type="checkbox" id="switch" />
              <label class="toggle-icons" for="switch">
                <img class="moon" src="{{ site.baseurl }}/assets/moon.svg" />
                <img class="sun" src="{{ site.baseurl }}/assets/sun.svg" />
              </label>
            </div>
            <!-- Hamburger menu -->
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>
    </header>
    <section id="projects" class="project-container container">
      <div id="subject-container" style="width: 100%; padding-top:80px;">
         <div class="subject-details" style="height: 80px;"></div>
         <div style="margin-left:-10%">
          <h5>Última actualización {{ site.time | date: "%-d-%-m-%Y"}}</h5>
          <h1 class="titulo">Symfony - Blog paso a paso</h1>
         <h4 class="subtitulo">En este tutorial vamos a aprender a crear un blog paso a paso.</h1>
         </div>
         <div class="subject-details" style='min-height:400px'>
         {{ content }}
         </div>
      </div>
      
     </section>
    <footer id="footer">
      <div class="container">
        <!-- Attribution -->
        <div class="attribution">
          <a rel="license" href="http://creativecoms.org/licenses/by-sa/4.0/">
            <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
          </a>
          <br />Todo el material de esta web está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional</a>.

        </div>
        <div class="attribution">
          <a
            href="https://github.com/CommunityPro/portfolio-html"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://user-images.githubusercontent.com/62628408/157202263-9174da24-b19a-4017-9b7c-a1d26ae8f014.svg"
              alt="attribution"
              width="150px"
            />
          </a>
        </div>
      </div>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    {% include analytics.html %}
  </body>
</html>

